@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
body { background: linear-gradient(180deg, #fff 0%, #f7f7f9 100%); }
.container { max-width: 1200px; margin-left: auto; margin-right: auto; }

